<script setup>
import { Head, useForm } from "@inertiajs/inertia-vue3";
import AOS from "aos";
import "aos/dist/aos.css";
import axios from "axios";
import { onMounted, reactive, ref } from "vue";
import InputError from "./../Components/InputError.vue";

const props = defineProps({
    day: {
        type: String,
        default: 'Jumat, 06 Januari 2023',
    },
    url: String,
    errors: Object,
    guest: Object,
});

AOS.init();

const form = useForm({
    name: props.guest?.name,
    message: null,
    confirm: "hadir",
});

const messages = reactive({
    data: [],
    page: 0,
    last_page: 1,
});

onMounted(() => {
    getMessages();
});

var countDownDate = new Date("06 January 2023 10:00:00").getTime(),
    x = setInterval(function () {
        var e = new Date().getTime(),
            n = countDownDate - e,
            t = Math.floor(n / 864e5),
            a = Math.floor((n % 864e5) / 36e5),
            o = Math.floor((n % 36e5) / 6e4),
            m = Math.floor((n % 6e4) / 1e3);
        (document.getElementsByClassName("days")[0].innerHTML = t),
            (document.getElementsByClassName("hours")[0].innerHTML = a),
            (document.getElementsByClassName("minutes")[0].innerHTML = o),
            (document.getElementsByClassName("seconds")[0].innerHTML = m),
            n < 0 &&
            (clearInterval(x),
                (document.getElementsByClassName("expired").innerHTML =
                    "EXPIRED"));
    }, 1e3);

function getMessages(reset = false) {
    if (reset) {
        messages.page = 0;
        messages.last_page = 1;
    }

    axios.get("/message?page=" + (messages.page + 1)).then(function (response) {
        messages.last_page = response.data.meta.last_page;
        messages.page += 1;
        messages.data = reset
            ? response.data.data
            : messages.data.concat(response.data.data);
    });
}

function send() {
    form.post("/message", {
        preserveScroll: true,
        onSuccess: () => {
            form.reset();

            getMessages(true);
        },
    });
}

function musicHandler() {
    const player = new Plyr("#player");

    if (!player.playing) {
        player.play();
    }

    if (player.muted) {
        player.muted = false;
    } else {
        player.muted = true;
    }
}
</script>

<template>

    <Head>
        <title>Undangan Pernikahan Dwi & Akbar</title>
        <meta name="title" content="Undangan Pernikahan Dwi & Akbar" />
        <meta name="language" content="Indonesia" />
        <meta name="description" :content="`Resepsi diselenggarakan pada ${day}.`" />
        <meta property="og:url" :content="url" />
        <meta property="og:title" content="Undangan Pernikahan Dwi & Akbar" />
        <meta property="og:description" :content="`Resepsi diselenggarakan pada ${day}.`" />
    </Head>

    <section class="full header pt-0 pb-0">
        <div class="container">
            <div class="justify-content-center" data-aos="fade-down" data-aos-duration="2000">
                <h5 class="caption mb-3">{{ day }}</h5>
                <p class="sub-caption"> Undangan Pernikahan </p>
            </div>
            <div class="col-md-12 header-frame" data-aos="fade-down" data-aos-duration="1000">
                <h1>Dwi <span>&</span> Akbar</h1>
            </div>
            <div v-if="guest" class="col-md-12" data-aos="fade-down" data-aos-duration="3000">
                <i>Kepada Yth<br>Bapak/Ibu/Saudara/i</i>
                <h4 class="text-secondary mt-1">{{ guest.name }}</h4>
                {{ guest.place }}
            </div>
        </div>
        <div class="header-footer"></div>
    </section>

    <section>
        <div class="container" data-aos="flip-down">
            <div class="d-flex justify-content-center mb-5">
                <img src="/assets/images/mahkota-t.png" alt="mahkota" style="max-height:40px">
            </div>
            <div class="col-md-12 pt-4">
                <p><span>"</span>Dan segala sesuatu Kami ciptakan berpasang-pasangan agar kamu mengingat (kebesaran
                    Allah).<span>"</span></p>
                <h5 class="caption text-secondary">QS. Az Zariyat: 49</h5>
            </div>
            <div class="d-flex justify-content-center mt-5">
                <img src="/assets/images/mahkota-b.png" alt="mahkota" style="max-height:40px">
            </div>
        </div>
    </section>

    <section class="top-0">
        <div class="container">
            <div class="col-md-10 offset-md-1">
                <i>Assalamu’alaikum Warahmatullahi Wabarakatuh</i><br /><br />Tanpa mengurangi rasa hormat, perkenankan
                kami
                mengundang Bapak/Ibu/Saudara/i untuk hadir dan memberikan doa restu pada
                acara pernikahan kami:<br><br>
            </div>
            <div class="row mt-5">
                <div data-aos="zoom-out" data-aos-delay="200" class="col-md-12 mb-5">
                    <h3 class="caption display-5 nganten">Dwi Wahyu Puji Lestari</h3>
                    <p class="tobe">
                        Putri dari pasangan <br />
                        <span class="ningkuning">Bpk. Teguh & Ibu Rusnawati</span>
                    </p>
                    <p class="tobe">Boyolangu - Tulungagung</p>
                </div>
                <div data-aos="zoom-out" data-aos-delay="200" class="col-md-12 mb-3 order-1">
                    <h3 class="caption display-5 nganten">Suhadak Akbar</h3>
                    <p class="tobe">
                        Putra dari pasangan <br />
                        <span class="ningkuning">Bpk. Sanali & Ibu Sulastri</span>
                    </p>
                    <p class="tobe">Dlanggu - Mojokerto</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container" style="max-width:1100px">
            <div class="col-md-12">
                <h2 class="text-secondary">Acara</h2>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-4 mt-4 information-wrap" data-aos="fade-right">
                    <div class="information">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="/assets/images/mahkota.png" alt="mahkota" style="max-height:30px">
                        </div>
                        <h4 class="text-secondary">Akad Nikah</h4>
                        <p>{{ day }} <br />
                            09:00 WIB - Selesai</p>
                        <span class="font-weight-bold">Rumah Mempelai Wanita</span><br>
                        Dsn/Ds. Kendalbulur RT 02 RW 02, Kec. Boyolangu,
                        Kabupaten Tulungagung, Jawa Timur
                        <div class="d-flex justify-content-center mt-4">
                            <img src="/assets/images/mahkota.png" alt="mahkota" style="max-height:30px">
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mt-4 information-wrap" data-aos="fade-right" data-aos-delay="100">
                    <div class="information">
                        <div class="d-flex justify-content-center mb-4">
                            <img src="/assets/images/mahkota.png" alt="mahkota" style="max-height:30px">
                        </div>
                        <h4 class="text-secondary">Resepsi</h4>
                        <p>{{ day }} <br>
                            10:00 WIB - Selesai</p>
                        <span class="font-weight-bold">Rumah Mempelai Wanita</span> <br>
                        Dsn/Ds. Kendalbulur RT 02 RW 02, Kec. Boyolangu,
                        Kabupaten Tulungagung, Jawa Timur
                        <div class="d-flex justify-content-center mt-4">
                            <img src="/assets/images/mahkota.png" alt="mahkota" style="max-height:30px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="col-md-12">
                <h2 class="text-secondary">Lokasi</h2>
            </div>
            <div class="col-md-12 mt-4">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="100%" height="300" id="gmap_canvas"
                            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB8yt5w4P6NitG8K6xSb_IJ5y2AKUwpDWA&amp;q=-8.120791,111.881067&amp;language=id"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                </div>
                <a target="_blank" href="https://goo.gl/maps/6NaC7SjPrtWqsCGr5" class="btn btn-primary mt-3">Google
                    Map</a>
            </div>
        </div>
    </section>

    <section class="countdown">
        <div class="container">
            <div class="col-md-12 mb-5">
                <h2 class="text-secondary">Menuju Hari H</h2>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-12">
                    <span class="expired"></span>
                </div>
                <div class="col-md-3 col-6 mb-2" data-aos="fade-left" data-aos-delay="100">
                    <div class="timer">
                        <span class="days">00</span>
                        <h5 class="timer-caption">Days</h5>
                    </div>
                </div>
                <div class="col-md-3 col-6 mb-2" data-aos="fade-left" data-aos-delay="200">
                    <div class="timer">
                        <span class="hours">00</span>
                        <h5 class="timer-caption">Hours</h5>
                    </div>
                </div>
                <div class="col-md-3 col-6 mb-2" data-aos="fade-left" data-aos-delay="300">
                    <div class="timer">
                        <span class="minutes">00</span>
                        <h5 class="timer-caption">Minutes</h5>
                    </div>
                </div>
                <div class="col-md-3 col-6 mb-2" data-aos="fade-left" data-aos-delay="400">
                    <div class="timer">
                        <span class="seconds">00</span>
                        <h5 class="timer-caption">Seconds</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-1">
        <div class="container">
            <div class="col-md-12 mb-5">
                <h2 class="text-secondary">Buku Tamu</h2>
            </div>
        </div>
        <div v-if="guest" class="container">
            <div class="col-md-12 text-left">
                <div class="form-group">
                    <label for="guestName">Nama</label>
                    <input type="text" class="form-control" id="guestName" v-model="form.name" placeholder="Your Name"
                        readonly autocomplete="off">
                    <InputError :message="errors.name" />
                </div>
                <div class="form-group">
                    <label for="attendance">Kedatangan</label>
                    <select class="form-control" id="attendance" v-model="form.confirm">
                        <option value="hadir">Hadir</option>
                        <option value="tidak">Tidak Hadir</option>
                        <option value="ragu">Belum Pasti</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="message">Pesan/Doa</label>
                    <textarea class="form-control" id="message" v-model="form.message" rows="3" required></textarea>
                    <InputError :message="errors.message" />
                </div>
                <div class="text-center">
                    <button @click="send()" class="btn btn-primary px-5">Kirim <img src="/assets/images/send-w.png"
                            alt="send icon" style="width:20px;margin-left:5px"></button>
                </div>
            </div>
        </div>

        <div class="show-guest-book px-2 mt-5 pt-5">
            <div class="container text-left">
                <div class="row justify-content-md-center">
                    <div v-for="message in messages.data" class="col-md-12 mb-3">
                        <div class="media px-3 media-comment">
                            <img class="rounded-circle mr-3 d-sm-block d-md-block d-lg-block"
                                :src="`https://na.ui-avatars.com/api/?name=${message.name}&amp;size=50`"
                                alt="Image Avatar" />
                            <div class="media-body">
                                <div class="mb-2">
                                    <h5 class="h6 mb-0 text-secondary"
                                        style="display: flex; justify-content: space-between; width: 100%;">
                                        {{ message.name }}
                                        <small :class="`status ${message.confirm}`"
                                            style="align-self: flex-end;"></small>
                                    </h5>
                                    <small class="text-muted">{{
        message.created_at
}}</small>
                                </div>

                                <p>
                                    {{ message.message }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="load-button">
                        <button v-if="messages.page < messages.last_page" @click="getMessages()"
                            class="btn btn-primary px-5">
                            Muat
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="py-4">
        <div class="container">
            <div class="col-md-12">
            </div>
        </div>
    </footer>
    <div style="height:50px;width:60px;position: absolute;bottom:0;z-index:-1;visibility: hidden;">
        <audio id="player" autoplay loop muted>
            <source src="/assets/media/11.mp3" type="audio/mp3">
        </audio>
    </div>
    <div class="play-pause btn-play-pause" @click="musicHandler">
        <img src="/assets/fonts/play-pause.svg" alt="play pause" width="25px">
    </div>
</template>

<style>
.load-button {
    width: 100%;
    text-align: center;
}

.load-button>button {
    font-size: 13px;
}

.play-pause.btn-play-pause img {
    width: 25px;
}

.header-frame>h1 {
    font-size: 4rem;
}

h3.nganten {
    font-size: 2rem;
    line-height: 4rem;
}

.sub-caption {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.top-0 {
    padding-top: 0;
}



.status {
    text-transform: capitalize;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 5px;
}

.status.hadir {
    color: #45a223;
    background-color: #e5f0e1;
}

.status.hadir::after {
    content: "Hadir";
}

.status.tidak {
    color: #9e8525;
    background-color: #f0eee1;
}

.status.tidak::after {
    content: "Tidak Hadir";
}

.status.ragu {
    color: #7d43bf;
    background-color: #ece1f0;
}

.status.ragu::after {
    content: "Belum Pasti";
}

/* option {
    color: black;
}

.load-button {
    width: 100%;
    text-align: center;
}

input {
    background-color: transparent !important;
    border-bottom: solid 2px #efbf68 !important;
}

.load-button>button {
    font-size: 13px;
} */
</style>
